.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#news-header {
    color: #FF4D00;
    font-family: 'Roboto', sans-serif;
    float: left;
    font-size: 33px;
}

#sport-header {
    color: #00b2ff;
    font-family: 'Roboto', sans-serif;
}

.date-time {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    font-size: 25px;
}

body {
    background-color: ghostwhite;
}

.collapsible {
    background: none;
    /* color: white; */
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.active,
.collapsible:hover {
    font-weight: bolder;
}

.content {
    padding: 0 18px;
    background: none;
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}